{% extends "base.html" %}
{% block title %} Pairings {% endblock title %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4"><a href="{% url 'tournament-view' tournament.id %}">{{ tournament.name }}</a> - Paring: {{ pairing.name}}</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        {% for op in teamB %}
                        <th scope="col">{{ op }}</th>
                        {% endfor %}
                        <th scope="col">suma</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players_points %}
                    <tr>
                        <th scope="col">{{ player.0.0 }} - {{ player.0.1 }}</th>
                        {% for i in player.1 %}
                        {% if i == 0 %}
                        <td>{{ i }}</td>
                        {% elif i < 0 %}
                        <td class="text-danger">{{ i }}</td>
                        {% elif i > 0 %}
                        <td class="text-success">{{ i }}</td>
                        {% endif %}
                        {% endfor %}
<!--                        suma-->
                        {% if player.2 == 0 %}
                        <td class="h5">{{ player.2 }}</td>
                        {% elif player.2 < 0 %}
                        <td class="text-danger h5">{{ player.2 }}</td>
                        {% elif player.2 > 0 %}
                        <td class="text-success h5">{{ player.2 }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="col">suma op</th>
                        {% for army in army_points %}
                        {% if army == 0 %}
                        <td class="h5">{{ army }}</td>
                        {% elif army < 0 %}
                        <td class="text-danger h5">{{ army }}</td>
                        {% elif army > 0 %}
                        <td class="text-success h5">{{ army }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if request.method == 'GET' %}
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="" method="POST">
                    {{ form.non_field_errors }}
                    {{ form.source.errors }}
                    {{ form.source }}
                    <table class="table">
                        <tr>
                            <th class="col">{{ form.first_p1.label_tag }}</th>
                            <th class="col">{{ form.first_p1 }}</th>
                            <th class="col">{{ form.first_op1.label_tag }}</th>
                            <th class="col">{{ form.first_op1 }}</th>
                        </tr>
                        <tr>
                            <th class="col">{{ form.first_p2.label_tag }}</th>
                            <th class="col">{{ form.first_p2 }}</th>
                            <th class="col">{{ form.first_op2.label_tag }}</th>
                            <th class="col">{{ form.first_op2 }}</th>
                        </tr>
                    </table>
                    <input class="btn btn-primary" type="submit" value="Paruj">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        {% else %}
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
            </div>
        </div>
        {% endif %}
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Mozliwych parowań ({{ total }})</h6>
                <table class="table table-borderless">
                    <tr>
                        <th class="text-success"> Dobrych parowań: {{ green_p|stringformat:"d%%" }} ({{ green }})</th>
                        <th class="text-success"> 54 - 100 (65) pkt</th>
                    </tr>
                    <tr>
                        <th class="text-warning"> Neutralnych parowań: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})
                        </th>
                        <th class="text-warning"> 47 - 53 pkt</th>
                    </tr>
                    <tr>
                        <th class="text-danger"> Złych parowań: {{ red_p|stringformat:"d%%" }} ({{ red }})</th>
                        <th class="text-danger"> 0 (35) - 46 pkt</th>
                    </tr>
                </table>
                <h6 class="mb-4">Wykres paringow</h6>
                <canvas id="chart"></canvas>
            </div>
        </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<!--            <canvas id="chart" width="500" height="500"></canvas>-->
        <script>
            let ctx = document.getElementById("chart").getContext("2d");
            let chart = new Chart(ctx, {
              type: "doughnut",
                    data: {
                        labels: ["Green", "Yellow", "Red"],
                        datasets: [{
                            backgroundColor: [
                                "rgba(5, 130, 18, .7)",
                                "rgba(245, 176, 15, .6)",
                                "rgba(235, 22, 22, .5)",
                            ],
                            data: {{ chart_data|safe }}
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
        </script>
        {% if request.method == 'POST' %}
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Pierwsze pary:</h6>
                <table class="table table-borderless">
                    <tr>
                        <th> Pary:</th>
                        <th class="text-info bg-dark"> {{ first_p1 }} - {{ first_op1 }}</th>
                    </tr>
                    <tr>
                        <th> Druga para:</th>
                        <th class="text-info bg-dark"> {{ first_p2 }} - {{ first_op2 }}</th>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
