{% extends "base.html" %}
{% block title %} Dashboard {% endblock title %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">{{ tournament.name }} - Paring: {{ pairing.name}}</h6>
                <table class="table">
                    <thead>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Op1 - {{ pairing.op1 }}</th>
                        <th scope="col">Op2 - {{ pairing.op2 }}</th>
                        <th scope="col">Op3 - {{ pairing.op3 }}</th>
                        <th scope="col">Op4 - {{ pairing.op4 }}</th>
                        <th scope="col">Op5 - {{ pairing.op5 }}</th>
                        <th scope="col">suma</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{ tournament.player1 }} - {{ tournament.p1 }}</th>
                        {% for i in tab_pairing_points.0.0 %}
                        <td>{{ i }}</td>
                        {% endfor %}
                        <td>{{ tab_pairing_points.0.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ tournament.player2 }} - {{ tournament.p2 }}</th>
                        {% for i in tab_pairing_points.1.0 %}
                        <td>{{ i }}</td>
                        {% endfor %}
                        <td>{{ tab_pairing_points.1.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ tournament.player3 }} - {{ tournament.p3 }}</th>
                        {% for i in tab_pairing_points.2.0 %}
                        <td>{{ i }}</td>
                        {% endfor %}
                        <td>{{ tab_pairing_points.2.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ tournament.player4 }} - {{ tournament.p4 }}</th>
                        {% for i in tab_pairing_points.3.0 %}
                        <td>{{ i }}</td>
                        {% endfor %}
                        <td>{{ tab_pairing_points.3.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ tournament.player5 }} - {{ tournament.p5 }}</th>
                        {% for i in tab_pairing_points.4.0 %}
                        <td>{{ i }}</td>
                        {% endfor %}
                        <td>{{ tab_pairing_points.4.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Suma</th>
                        {% for col in tab_col_points %}
                        {% if col == 0 %}
                        <td>{{ col }}</td>
                        {% elif col < 0 %}
                        <td class="text-danger">{{ col }}</td>
                        {% elif col > 0 %}
                        <td class="text-success">{{ col }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="" method="POST">
                    {{ form.non_field_errors }}
                    {{ form.source.errors }}
                    {{ form.source }}
                    <table class="table">
                        <tr>
                            <th class="col">{{ form.first_p1.label_tag }}</th>
                            <th class="col">{{ form.first_p1 }}</th>
                            <th class="col">{{ form.first_op1.label_tag }}</th>
                            <th class="col">{{ form.first_op1 }}</th>
                        </tr>
                        <tr>
                            <th class="col">{{ form.first_p2.label_tag }}</th>
                            <th class="col">{{ form.first_p2 }}</th>
                            <th class="col">{{ form.first_op2.label_tag }}</th>
                            <th class="col">{{ form.first_op2 }}</th>
                        </tr>
                    </table>
                    <input class="btn btn-primary" type="submit" value="Paruj">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Mozliwych parowań ({{ total }})</h6>
                <table class="table table-borderless">
                    <tr>
                        <th class="text-success"> Dobrych parowań: {{ green_p|stringformat:"d%%" }} ({{ green }})</th>
                    </tr>
                    <tr>
                        <th class="text-warning"> Neutralnych parowań: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</th>
                    </tr>
                    <tr>
                        <th class="text-danger"> Złych parowań: {{ red_p|stringformat:"d%%" }} ({{ red }})</th>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <table class="table table-borderless">
                    <tr>
                        <th class="text-success"> 52-100 pkt</th>
                    </tr>
                    <tr>
                        <th class="text-warning"> 49-51 pkt</th>
                    </tr>
                    <tr>
                        <th class="text-danger"> 0-48 pkt</th>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock content %}
