{% extends "base.html" %}
{% block title %} Dashboard {% endblock title %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">{{ tournament.name }} - {{ tournament.date}}</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Gracz</th>
                        <th scope="col">Armia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ tournament.player1 }}</td>
                        <td>{{ tournament.p1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ tournament.player2 }}</td>
                        <td>{{ tournament.p2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ tournament.player3 }}</td>
                        <td>{{ tournament.p3 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ tournament.player4 }}</td>
                        <td>{{ tournament.p4 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ tournament.player5 }}</td>
                        <td>{{ tournament.p5 }}</td>
                    </tr>
                    </tbody>
                </table>
                 <h6 class="mb-4">Basic Buttons</h6>
                <div class="m-n2">
                    <button type="button" class="btn btn-primary m-2">Nowy paring</button>
                    <button type="button" class="btn btn-secondary m-2">Edytuj</button>
<!--                    <button type="button" class="btn btn-success m-2">Success</button>-->
                    <button type="button" class="btn btn-danger m-2">Usuń</button>
<!--                    <button type="button" class="btn btn-warning m-2">Warning</button>-->
<!--                    <button type="button" class="btn btn-info m-2">Info</button>-->
<!--                    <button type="button" class="btn btn-light m-2">Light</button>-->
<!--                    <button type="button" class="btn btn-dark m-2">Dark</button>-->
<!--                    <button type="button" class="btn btn-link m-2">Link</button>-->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
